[Unit]
Description=RMI Registry
After=syslog.target
After=network.target

[Service]
Type=simple
User={{ java_rmiregistry_service_user }}
Group={{ java_rmiregistry_service_group }}
WorkingDirectory=/
Environment="JVM_OPTS={{ java_rmiregistry_default_jvmopts }}"
Environment="PORT={{ java_rmiregistry_default_port }}"
EnvironmentFile=-/etc/default/rmiregistry
ExecStart={{ java_rmiregistry_binary | default(java_rmiregistry_default_binary) }} -J-Djava.security.egd=file:/dev/./urandom $JVM_OPTS $PORT
TimeoutSec=15
Restart=on-failure

[Install]
WantedBy=multi-user.target
